body, html, div{
	padding:0;
	margin:0;
	
}
.header {
	background:#000;
	height: 70px;
	color:#951;
	text-align:center;
	font-family:fantasy;
	border-bottom: #334 solid 4px;
	
}

.header h1{
	margin:0;
	padding:0;
	padding-top:15px;
	
	
}

.site_nav {
	background-color: #DB9;
	height:40px;

	
}

#abilities{
	display:block;
	float:left;
	margin: 50px;
	height:600px;
	background: #DB9;
	width: 250px;
	border: black solid 4px;
	
}

#abilities h2{
	
	text-align:center;
	background: #951;
	width:170px;
	height:35;
	margin-left:40px;
	color:#EFF;
	border:black solid 2px;
}

body{
	background: url(metal.jpg);
	background-size: cover;
	
}
.site_nav ul {
	margin:0;
	padding: 10px;
	
}
.site_nav li {
	float: left;
	width:20%;
	text-align:center;
	font-family:monospace;
	font:italic;
	font-size: 155%;
	list-style:none;
}




#attributes ul{
	width:100%;	
	margin-top: 30px;
	margin-left:0;
	padding-left:0px;
	
}

#attributes li{
	margin:0;
	text-align: center;
	padding-top: 7px;
	float:left;
	width:20%;
	display:block;
	margin-left:5.66%;
	margin-right:5.66%;
	height:30px;
	font-family:monospace;
	font-size:120%;
	border:#000 solid 8px;
	font-weight:bold;
	color:#FFF;
	
	
	
}

.room_info{
	display: inline-block;
	border: black solid 6px;
	color:#FFF;
	height:103px;
	position: absolute;
	top: 86px;
	left: 30px;
	width:220px;
	
}

.room_info h2 {
	text-align: center;
	font-size: medium;
	font-family:monospace;
	
}
.room_info h3 {
	text-align: center;
	font-size: medium;
	font-family:monospace;
	
}

#litterbox {
	position:absolute;
	left:380px;
	top:130px;
	display:block;
	width:650px;
	height:430px;
	overflow:scroll;
}




/** New Look Styles */
#terminal {
	position:relative;
	width: 1159px;
	height: 725px;
	margin-left:auto;
	margin-right:auto;
	background-size: 1159px 725px;
	background-image:url(terminal.png);
	background-color:black;
}
