.player_stats div{
	display: inline-block;
}

.room_info div{
	display: inline-block;
}

#map {
	display:inline-block;
	width:100px;
	height:100px;
}

#digbox {
	display:block;
	width:400px;
	height:100px;
	overflow:scroll;
	font-size: 200%;
}