<!DOCTYPE html>

<html>

	<head>
		<title>Dungeon</title>
		
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
		
		<script src="dungeon.js"></script>
		<script src="map_generate.js"></script>
		<script src="player.js"></script>

		<link rel="stylesheet" href="dungeon.css"></link>
		
	</head>
	
	
	
	<body ng-app="dungeonApp" ng-controller="dungeonController" ng-init="init()">
		<div class="header">
			<h1>This an adventure</h1>
		
		</div>
		
		<!-- This is for navagation to other site parts -->
		<div class="site_nav">
			<ul>
			
				<li>Home</li>
				<li>Info/About/Goal</li>
				<li>Taco</li>
				
			</ul>
		
		</div>
		
		<!-- Mini map which links to main map -->
		<img id="map" src="treasure-map.jpg">
		
		
		<!-- Display for player stats and vitals and abilities -->
		<div class="player_stats">
			<div id="attributs">
				
				<h2>Attributes</h2>
				
				<ul>
					<li ng-repeat="stat in player.getStats()">{{stat.name}}: {{stat.current}} of {{stat.maximum}}</li>
				</ul>
			</div>
			
			<!-- displays the moves user has in battle -->
			<div id="abilities">
				
				<h2>Abilities</h2>
				
				<ol>
			
					<li><a>Fire Ball</a></li>
					<li><a>Punch</a></li>
					<li><a>Kiss</a></li>
				
				</ol>
			</div>
			
			<!-- display the commands a user has discovered for not in battle -->
			<div id="commands">
				
				<h2>Known Commands</h2>
				
				<ul>
					<li ng-repeat="command in known_commands track by $index">{{command}}</li>
				</ul>
				
			</div>
		
		</div>
		
		<!-- main area for text window -->
		<div class="room_info">
			
			<h2>Room Name</h2>
			
			<div>
				<!-- what the player has done recently -->
				<h3>Recent Commands</h3>
				<ol>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
			</div>
			
			
			<!-- the main text box where all the action happens -->
			<div id="box">
				<h3>Shiz fo Sho</h3>
				<p ng-repeat="result in results track by $index">{{result}}</p>
				<form ng-submit="ref_user_text()"><input type="text" ng-model="user_text"></input></form>
			</div>
		
		</div>
	
	
	</body>

</html>